/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.error_explained {
    color:red;
    font-weight: 500;
}
.field_with_errors {
    align-content: center;
    text-align: center;
}
.field_with_errors input {
    border: 1px solid red;
}

