<!DOCTYPE html>
<html>
<head>
  <title>CrudWithValidationsLab</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&display=swap" rel="stylesheet">
</head>
<body>
<%= yield %>
</body>
</html>
